<div style="align-items: center"class="fade-in index listhead">
<h1>{{user.name}}</h1>
<img class="profilepic" src="{{user.image}}" alt=""></p>
<hr>
<span style="text-align: center"><strong>Bio</strong>:<br>{{user.bio}}</span></p>
<span><strong>Email</strong>: {{user.email}}</span>
{{!-- <button class="editprofile barlistbutton"></button> --}}
<a class="editprofile" href="/profile/edit">Edit your profile</a>
<br>
</div>