<div id="signup" class="fade-in index listhead">
<h1 style="text-align:center">Edit your Profile</h1>
<form class="createbar" method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input type="text" value="{{user.name}}" id="input-name" name="name" placeholder="Your Name" >
  <label for="input-email">Email</label>
  <input type="text" value="{{user.email}}" id="input-name" name="email" placeholder="Your e-mail address" >
  <label for="input-image">Image</label>
  <input type="file" id="input-image" name="image" placeholder="Choose a profile picture">
  <label for="input-bio">Bio:</label>
  <textarea id="input-bio" name="bio" rows="4" cols="50" placeholder="Write a short description about yourself"></textarea>
  <button><i class="fas fa-user-edit"></i> Edit</button>
</form>
</div>
