<footer class="footer">
          <div class="container">
            <p id="trademark">&copy; Barboozle 2020 | <a href="/">Home</a> | <a href="/bar/barlist">Bar list</a> | <a class="anchor" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> | <a class="anchor" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a> | <a class="anchor" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
          </div>
        </footer>