<footer class="footer fixed-bottom">
          <div class="container">
   <p id="trademark"><img id="footerimg" src="https://i.ibb.co/S0DPXXn/este.png" alt=""> &copy; Barboozle 2020 | <a href="/">Home</a> | <a href="/creators">About us</a> | <a class="anchor" href="https://www.instagram.com/barboozle123/"><i class="fab fa-instagram"></i></a> | <a class="anchor" href="https://twitter.com/Barboozle1"><i class="fab fa-twitter"></i></a> | <a class="anchor" href="https://www.facebook.com/barboozle123/"><i class="fab fa-facebook-f"></i></a>
          </div>
        </footer>