<div id="signup" class="index listhead">
<h1 style="text-align:center">Create an Account</h1>
<form class="createbar" method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" required>
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" required>
  <label for="input-email">Email</label>
  <input type="text" id="input-name" name="email" placeholder="Your e-mail address" required>
  <label for="input-image">Image</label>
  <input type="file" id="input-image" name="image" placeholder="Choose a profile picture">
  <label for="input-bio">Bio:</label>
  <textarea id="input-bio" name="bio" rows="4" cols="50" placeholder="Write a short description about yourself"></textarea>
  <label for="input-admin">Admin Code (only if admin)</label>
 	<input type="text" id="inputAdminCode" class="form-control" name="adminCode" >
  <button><i class="fas fa-plus"></i> Sign Up</button>
</form>
</div>
