<div class="index listhead">
<h1>SIGN UP</h1>
<form class="createbar" method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" required>
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <label for="input-email">Email</label>
  <input type="text" id="input-name" name="name" placeholder="Your e-mail address" required>
  <label for="input-image">Image</label>
  <input type="file" id="input-image" name="image" placeholder="Choose a profile picture" required>
  <label for="input-bio">Bio:</label>
  <textarea id="input-bio" name="bio" rows="4" cols="50" placeholder="Write a short description about yourself"></textarea>
  <label for="input-admin">Admin Code (only if admin)</label>
 	<input type="text" id="inputAdminCode" class="form-control" name="adminCode" >
  <button>Sign Up</button>
</form>
</div>
