    <div class="index listhead singlehead">
     <img src="https://cdn1.thr.com/sites/default/files/2014/05/the_expendables_3.jpg" alt="">
    <h1 style="text-align:center">Miguel & Gonçalo</h1>
     <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis provident, eligendi totam deleniti unde repellendus dicta velit minus asperiores dolorum at deserunt facilis voluptatem, tempora fugiat nostrum corrupti natus quas nulla optio repudiandae expedita nisi itaque aliquid. Ut quis necessitatibus nesciunt facilis, error, nisi dolorum quos atque explicabo ea suscipit molestiae. Eaque distinctio excepturi expedita consectetur labore vero enim iusto.
          </p>
     </div>
  