    <div class="fade-in creators index listhead singlehead">
     <img class="creatorsimg" src="https://i.ibb.co/Lgw5h0J/lindos.jpg" alt="">
    <h1 style="text-align:center">Miguel Costa & Gonçalo Mendes</h1>
     <p class="lead">
    Miguel & Gonçalo both came from the hospitality industry and have been asked a million times: <br> Where can I have a good cocktail? <br> Where can I have drink and enjoy Lisbon's wonderful Sunset? <br> Where can I watch the Superbowl? <br>
    We always have to think about a list in our heads to tell them, which isn't very practical.<br>
    That's where this idea came from, now we can give them the link to this website and they can find the best bars for every circumstance.<br>
    Our goal is to make it as simple as it can be so that the user can enjoy the best things in life!</p>
    <p class="lead">Hence let there be Barboozle!</p>
    <p class="lead">We hope this app is as useful to you as it is for us!</p>
          </p>
     </div>
  