    <div class="creators index listhead singlehead">
     <img class="creatorsimg" src="https://cdn1.thr.com/sites/default/files/2014/05/the_expendables_3.jpg" alt="">
    <h1 style="text-align:center">Miguel & Gonçalo</h1>
     <p class="lead">
    We're just a couple of guys who used to work in the hospitality industry and love everything that comes with it (including booze).<br> The idea actually came from our clients needs, since we used to get asked a lot to provide a list of bars, and 
    mention the type of the bars we listed.<br> Some clients would ask about bars for dancing, others for a more chill place
    to enjoy a cocktail, or even just somewhere to watch the game.<br></p>
    <p class="lead">Hence let there be Barboozle!</p>
    <p class="lead">We hope this app is useful to you guys, enjoy your hangover!</p>
          </p>
     </div>
  