<div class="index listhead">
<h1>{{user.name}}</h1>
<span><strong>image here n00b</strong> {{user.image}}</span></p>
<hr>
<span><strong>Bio</strong>: {{user.bio}}</span></p>
<span><strong>Email</strong>: {{user.email}}</span>
<br>
</div>