<h1>SIGN IN</h1>
<form action="/authentication/sign-in" method="POST">
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <button>Sign In</button>
</form>
<hr>



<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Sign Up (Click here)
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<form action="/authentication/sign-up" method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <label for="input-admin">Admin Code (only if admin)</label>
 	<input type="text" id="inputAdminCode" class="form-control" name="adminCode" />
  <button>Sign Up</button>
</form>  </div>
</div>





 

