*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 2;
}

.index {
max-width: 52em; 
padding: 0 1em;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;


}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  color: white;
  

}

/* nav img {
padding-left: 3vw;
} */

.navbar-custom {
  background-color: black;
  /* height: 10vh; */
}


/* .navbarlinks {
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 2vh;
} */

.custom-toggler.navbar-toggler {

  float:right;
  border-color: rgb(255,102,203);
  color: rgb(255,102,203);
} 

.navbar-toggler:active{
  outline: 0; 
}


nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:hover{
  text-decoration: none;
  color: #f03294;
}
nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}
nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

/* creation forms */
.createbar {
  display: flex;
  flex-direction: column;
}

.mapheader {
  text-align:center;
}



.logo{
  display:flex;
  align-items: center;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.collapse{
  width:fit-content;
  float: right;
  padding-top: 1vh;
}

#map-container {
  height: 70vh;
  width: 90%;
  display: flex;
  margin-bottom: 5vh;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid black;

}

footer{
  padding: 2%;
  text-align: center;
  color: white;
  background-color: black;
}

footer a:hover {
  color: #f03294;
}