<h1>bar map noob</h1>

<div id="map-container"></div>

<script>
  function init() {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.712783,
        lng: -9.138872
      },
      zoom: 13
    });
    const latitude = {{ bars.[0].location.coordinates.[0] }};
    const longitude = {{ bars.[0].location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>
{{>mapscript}}