<h1>bar map noob</h1>

<div id="map-container"></div>

<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: {{ bar.location.coordinates.[0] }},
        lng: {{ bar.location.coordinates.[1] }}
      },
      zoom: 11
    });
     const latitude = {{ bar.location.coordinates.[0] }};
    const longitude= {{ bar.location.coordinates.[1] }};
    const marker = new window.google.maps.Marker({
      map,
      position: {
        lat: latitude,
        lng: longitude
      }
    });
  }
</script>

{{>mapscript}}